*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.scroll-watcher {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(6, 53, 20);
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}
@keyframes scroll-watcher {
    to { scale: 1 1; }
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh; /* Full viewport height */
}

.content-area {
    padding: 80px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;   
    width: 100%;
    padding: 15px 100px;
    background: rgb(198, 198, 198);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.navbar{
    align-items: center;
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 4px #000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.supply-chain-area {
    width: 100%;
    text-align: center; /* Centers the title, doesn't affect flex items */
}

.sections {
    display: flex; /* This is crucial, makes child elements flex items */
    justify-content: space-between; /* Spaces out the flex items */
    align-items: center; /* Vertically aligns flex items if they are not the same height */
    width: 100%; /* Ensures the flex container spans the full width */
}

.section {
    flex-basis: 48%; /* Sets the base size of each section */
    padding: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 10px; /* Adds some space around each section */
    box-sizing: border-box; /* Padding and border are included in the width */
}

.problem, .solution {
    background-color: rgb(6, 53, 20); /* Using the same color for both, adjust if needed */
}

section {
    height: 100vh;
    display: flex;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;   
    text-align: center;    
    padding-top: 30px;
}

section p{
    text-align: left;
    max-width:400px;
}
h1{
    color: rgb(0, 0, 0);

    font-size:100%;
}
p{
    text-align: left;
    max-width: 700px;
    position: absolute;  /* Takes the element out of the normal flow and positions it relative to the nearest positioned ancestor */
    left: 0;   /* Aligns the text box to the left side of its nearest positioned ancestor */
    top: 150px; /* Example: Positions the text box 20px from the top of the ancestor */
}ß
.supply-chain-area, h1{
    font-size: 250%;
}

.two {
    background-color: rgb(69, 99, 70);

}

.three{
    background-color:rgb(112, 80, 40);

}

.four{
    background-color:rgb(135, 175, 230);

}

.five{
    background-color:bisque;

}

.six{
    background-color:rgb(230, 242, 210);

}
.seven{
    background-color:rgb(255, 255, 255);

}


